<h1> Listfile </h1>


<h3>Description</h3>

<% @entries.each do |pj| %>
		<p><%=pj.comments%> <%=link_to('Delete', project_entry_path(@project, pj), method: :delete, data: {confirm: "are you sure"})%></p>
		<%end%>

<br>
<br>
